.centreXY, .info, #nose {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.centreX, .info .text, .compass-wrapper, .compass-wrapper-top {
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.centreY, .ruler-border, .arrow {
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'Cutive Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

a {
  text-decoration: none;
  color: #0F0; }
  a:hover {
    color: #000; }

h1 {
  font-size: 16px;
  line-height: 18px; }

p {
  font-size: 16px;
  line-height: 18px;
  margin-top: 20px; }

.text p {
  text-align: center; }

.text p:first-child {
  margin-top: 0; }

p.sub {
  font-size: 12px;
  line-height: 14px;
  text-align: left; }
  p.sub a {
    text-decoration: underline;
    text-underline-position: below; }
    p.sub a:hover {
      color: #0f0; }

@media screen and (max-width: 1024px) and (min-width: 10px) {
  h1 {
    font-size: 12px;
    line-height: 14px; } }
html, body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  cursor: crosshair;
  color: #0F0;
  background: url("../images/horizon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.info {
  width: 480px;
  height: calc(100% - 208px);
  position: absolute;
  background-image: url("../images/HUDComponents/Info.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;
  z-index: 20;
  border: 3px solid #0F0;
  display: none; }
  .info .text {
    width: calc(100% - 60px);
    position: absolute;
    top: 30%; }

#infoButton.active, #sound.active {
  background-color: #0f0;
  color: #000; }

@keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.close {
  position: absolute;
  width: 100%;
  cursor: crosshair;
  text-align: center; }

.close-top {
  top: 20px; }

.close-bottom {
  bottom: 20px; }

#noseGague {
  width: 480px;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 10%;
  margin: auto -240px;
  background-image: url("../images/HUDComponents/NoseGuage.svg");
  background-size: cover;
  background-position: center; }

#nose {
  width: 70px;
  height: 70px;
  position: fixed;
  background-image: url("../images/HUDComponents/Nose.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; }

.ruler-border {
  width: 110px;
  height: calc(100% - 208px);
  position: absolute;
  border: 3px solid #0F0; }

.ruler-left {
  left: calc(50% - 400px);
  border-left: none; }

.ruler-right {
  right: calc(50% - 400px);
  border-right: none; }

.ruler-inner {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  overflow: hidden; }

#ruler-inner-left {
  background-image: url("../images/HUDComponents/LeftRule.svg");
  background-size: cover;
  background-position: center; }

.ruler-mobile {
  display: none; }

.button {
  width: 110px;
  border: 3px solid #0F0;
  padding: 16px 0;
  position: absolute;
  text-align: center; }
  .button:hover {
    cursor: crosshair;
    background: #0F0;
    color: #000; }

@media screen and (max-width: 1024px) and (min-width: 10px) {
  .button:hover {
    background: transparent;
    color: #0F0; } }
.button-left {
  left: calc(50% - 400px); }

.button-right {
  right: calc(50% - 400px); }

.button-top {
  top: 30px; }

.button-bottom {
  bottom: 30px; }

.arrow {
  width: 28px;
  height: 16px;
  padding: 16px 50px 16px 50px;
  padding-right: 50px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center; }

#arrowLeft {
  left: calc(50% - 520px);
  text-align: right;
  background-image: url("../images/HUDComponents/Larrow.svg"); }

#arrowRight {
  right: calc(50% - 520px);
  background-image: url("../images/HUDComponents/Rarrow.svg"); }

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1; }

.compass-wrapper, .compass-wrapper-top {
  width: 300px;
  height: 150px;
  position: absolute;
  bottom: 30px;
  overflow: hidden;
  background-image: url("../images/HUDComponents/Needle.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%; }

.compass-wrapper-top {
  bottom: auto;
  top: 30px;
  height: 75px;
  background-image: url("../images/HUDComponents/Needle2.svg");
  background-position: center top; }

.compass {
  width: 300px;
  height: 300px;
  background-image: url("../images/HUDComponents/Compass.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%; }

.mob-video {
  display: none; }

@media screen and (max-width: 1024px) and (min-width: 10px) {
  .info {
    width: calc(100% - 140px);
    height: calc(100% - 200px);
    top: 76px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #0F0; }
    .info .text {
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

  #noseGague {
    width: 210px;
    height: calc(100% - 200px);
    position: absolute;
    left: 50%;
    top: 76px;
    margin: auto -105px;
    z-index: 1; }

  #nose {
    width: 35px;
    height: 35px;
    top: calc(50% - 42px);
    left: 50%;
    margin: auto -17.5px;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none; }

  .ruler-border {
    width: 40px;
    height: calc(100% - 200px);
    border: 1px solid #0F0;
    top: 76px;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none; }

  .ruler-left {
    left: 20px;
    border-left: none; }

  .ruler-right {
    right: 20px;
    border-right: none; }

  .ruler-mobile {
    display: block; }

  .ruler-desktop {
    display: none; }

  .button {
    width: 80px;
    border: 1px solid #0F0;
    padding: 12px 0; }

  .button-left {
    left: 20px; }

  .button-right {
    right: 20px; }

  .button-top {
    top: 20px; }

  .button-bottom {
    bottom: 64px; }

  .compass-wrapper, .compass-wrapper-top {
    width: 130px;
    height: 65px;
    bottom: 64px; }

  .compass-wrapper-top {
    bottom: auto;
    top: 20px;
    height: 35px; }

  .compass {
    width: 130px;
    height: 130px; }

  .arrow {
    display: none; }

  .video {
    display: none; }

  .mob-video {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/Flight.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; } }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace.pace-inactive .pace-progress {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.8s linear; }

.pace .pace-progress {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important; }

.pace .pace-progress:after {
  display: block;
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 32px;
  text-align: center;
  color: #FFF;
  content: attr(data-progress-text);
  border: 3px solid #FFF;
  padding: 16px; }

#enterButton {
  width: 100px;
  font-size: 32px;
  text-align: center;
  padding: 16px;
  border: 3px solid #FFF;
  display: none;
  position: absolute;
  color: #FFF;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  #enterButton:hover {
    background: #FFF;
    color: #000;
    cursor: pointer; }

/*# sourceMappingURL=stylesheet.css.map */
